GCP_PROJECT_ID=your-gcp-project-id
BQ_DATASET_ID=Rong_test
BQ_LOCATION=asia-east1
GCS_DIRECT_TRANSACTION_URI=gs://playwright_trec/direct_transaction/trec_direct_transaction_raw.csv
GCS_SELF_GENERATION_TRANSACTION_URI=gs://playwright_trec_self/self_generation_transaction/trec_self_generation_transaction_raw.csv
GCS_ISSUED_CERTIFICATE_URI=gs://tibame-bronze/raw_data/certified_issued_data/trec_issued_certificate_*_raw.csv
